In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
data=pd.read_csv('taxifare.csv')
data.head()

           pickup_datetime  fare_amount  ...  dropoff_latitude  passenger_count
0  2010-04-19 08:17:56 UTC          6.5  ...         40.744746                1
1  2010-04-17 15:43:53 UTC          6.9  ...         40.744114                1
2  2010-04-17 11:23:26 UTC         10.1  ...         40.766235                2
3  2010-04-11 21:25:03 UTC          8.9  ...         40.748192                1
4  2010-04-17 02:19:01 UTC         19.7  ...         40.743115                1

[5 rows x 8 columns]

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120000 entries, 0 to 119999
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   pickup_datetime    120000 non-null  object
 1   fare_amount        120000 non-null  float64
 2   fare_class         120000 non-null  int64
 3   pickup_longitude   120000 non-null  float64
 4   pickup_latitude    120000 non-null  float64
 5   dropoff_longitude  120000 non-null  float64
 6   dropoff_latitude   120000 non-null  float64
 7   passenger_count    120000 non-null  int64
dtypes: float64(5), int64(2), object(1)
memory usage: 7.3+ MB

In [4]:
data.shape

(120000, 8)

# Feature Engineering

In [5]:
import datetime
data['pickup_datetime']=pd.to_datetime(data['pickup_datetime'])-datetime.timedelta(hours=4)

In [6]:
data.head()

            pickup_datetime  fare_amount  ...  dropoff_latitude  passenger_count
0 2010-04-19 04:17:56+00:00          6.5  ...         40.744746                1
1 2010-04-17 11:43:53+00:00          6.9  ...         40.744114                1
2 2010-04-17 07:23:26+00:00         10.1  ...         40.766235                2
3 2010-04-11 17:25:03+00:00          8.9  ...         40.748192                1
4 2010-04-16 22:19:01+00:00         19.7  ...         40.743115                1

[5 rows x 8 columns]

In [7]:
data['pickup_datetime'].dtype

datetime64[ns, UTC]

In [8]:
data['Year']=data['pickup_datetime'].dt.year
data['Month']=data['pickup_datetime'].dt.month
data['Day']=data['pickup_datetime'].dt.day
data['Hours']=data['pickup_datetime'].dt.hour
data['Minutes']=data['pickup_datetime'].dt.minute

In [9]:
data.head()

            pickup_datetime  fare_amount  fare_class  ...  Day  Hours  Minutes
0 2010-04-19 04:17:56+00:00          6.5           0  ...   19      4       17
1 2010-04-17 11:43:53+00:00          6.9           0  ...   17     11       43
2 2010-04-17 07:23:26+00:00         10.1           1  ...   17      7       23
3 2010-04-11 17:25:03+00:00          8.9           0  ...   11     17       25
4 2010-04-16 22:19:01+00:00         19.7           1  ...   16     22       19

[5 rows x 13 columns]

In [10]:
data['Morning']=np.where(data['Hours']<12,0,1)

In [11]:
data.drop(['pickup_datetime'],axis=1,inplace=True)

In [12]:
data.head()

   fare_amount  fare_class  pickup_longitude  ...  Hours  Minutes  Morning
0          6.5           0        -73.992365  ...      4       17        0
1          6.9           0        -73.990078  ...     11       43        0
2         10.1           1        -73.994149  ...      7       23        0
3          8.9           0        -73.990485  ...     17       25        1
4         19.7           1        -73.990976  ...     22       19        1

[5 rows x 13 columns]

In [13]:
## https://stackoverflow.com/questions/4913349/haversine-formula-in-python-bearing-and-distance-between-two-gps-points

def haversine(data):
    """
    Calculate the great circle distance between two points 
    on the earth (specified in decimal degrees)
    """
    lat1= np.radians(data["pickup_latitude"])
    lat2 = np.radians(data["dropoff_latitude"])
    #### Based on the formula  x1=drop_lat,x2=dropoff_long 
    dlat = np.radians(data['dropoff_latitude']-data["pickup_latitude"])
    dlong = np.radians(data["dropoff_longitude"]-data["pickup_longitude"])
    a = np.sin(dlat/2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlong/2)**2

    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1-a))
    r = 6371 # Radius of earth in kilometers. Use 3956 for miles
    return c * r

In [14]:
data['Total_Distance']=haversine(data)

In [15]:
data.head()

   fare_amount  fare_class  pickup_longitude  ...  Minutes  Morning  Total_Distance
0          6.5           0        -73.992365  ...       17        0        2.126312
1          6.9           0        -73.990078  ...       43        0        1.392307
2         10.1           1        -73.994149  ...       23        0        3.326763
3          8.9           0        -73.990485  ...       25        1        1.864129
4         19.7           1        -73.990976  ...       19        1        7.231321

[5 rows x 14 columns]

In [16]:
data.drop(['pickup_longitude','pickup_latitude','dropoff_longitude','dropoff_latitude'],axis=1,inplace=True)

In [17]:
data.head()

   fare_amount  fare_class  passenger_count  ...  Minutes  Morning  Total_Distance
0          6.5           0                1  ...       17        0        2.126312
1          6.9           0                1  ...       43        0        1.392307
2         10.1           1                2  ...       23        0        3.326763
3          8.9           0                1  ...       25        1        1.864129
4         19.7           1                1  ...       19        1        7.231321

[5 rows x 10 columns]

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120000 entries, 0 to 119999
Data columns (total 10 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   fare_amount      120000 non-null  float64
 1   fare_class       120000 non-null  int64
 2   passenger_count  120000 non-null  int64
 3   Year             120000 non-null  int64
 4   Month            120000 non-null  int64
 5   Day              120000 non-null  int64
 6   Hours            120000 non-null  int64
 7   Minutes          120000 non-null  int64
 8   Morning          120000 non-null  int64
 9   Total_Distance   120000 non-null  float64
dtypes: float64(2), int64(8)
memory usage: 9.2 MB

# Classification

In [19]:
X=data.iloc[:,[0,2,3,4,5,6,7,8,9]]
y=data.iloc[:,1]

In [20]:
X.head()

   fare_amount  passenger_count  Year  ...  Minutes  Morning  Total_Distance
0          6.5                1  2010  ...       17        0        2.126312
1          6.9                1  2010  ...       43        0        1.392307
2         10.1                2  2010  ...       23        0        3.326763
3          8.9                1  2010  ...       25        1        1.864129
4         19.7                1  2010  ...       19        1        7.231321

[5 rows x 9 columns]

In [22]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=3)

In [23]:
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier()
rfc.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [24]:
y_pred=rfc.predict(X_test)

In [ ]:
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
cm=confusion_matrix(y_test,y_pred)
score=accuracy_score(y_test,y_pred)
print(cm)
print(score)

In [25]:
from sklearn.metrics import accuracy_score,confusion_matrix
score=accuracy_score(y_test,y_pred)
print(score)

1.0

In [26]:
confusion_matrix(y_test,y_pred)

array([[20000,     0],
       [    0, 10000]])

# Xgboost

In [31]:
import xgboost
from xgboost import XGBClassifier
model=XGBClassifier()
model.fit(X_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [32]:
pred=model.predict(X_test)

In [34]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,pred)

1.0

In [35]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,pred)

array([[20000,     0],
       [    0, 10000]])